﻿.menu-font() {
    font-size: 16px;
    font-weight: 600;
}

.menu {
    float: left;

    li {
        float: left;

        a {
            display: inline-block;
        }
    }
}

#menu {
    margin-right: 15px;
    li {
        a {
            padding: 25px 15px;
            .menu-font();
            &:hover {
                color: #ce0c21;
            }
        }

        &.active > a {
            color: #fff;
            background: #ce0c21;

            &:hover {
                color: #fff;
            }
        }
    }
}

#actionmenu {
    li a {
        .menu-font();
    }
}