﻿.menu {
  float: left;
}
.menu li {
  float: left;
}
.menu li a {
  display: inline-block;
}
#menu {
  margin-right: 15px;
}
#menu li a {
  padding: 25px 15px;
  font-size: 16px;
  font-weight: 600;
}
#menu li a:hover {
  color: #ce0c21;
}
#menu li.active > a {
  color: #fff;
  background: #ce0c21;
}
#menu li.active > a:hover {
  color: #fff;
}
#actionmenu li a {
  font-size: 16px;
  font-weight: 600;
}
/*# sourceMappingURL=menu.css.map */