﻿.ticker {
    //margin-top: 20px;
}

#hometicker {
    text-align: center;
    display: block;
    color: #FFF;
    padding: 0;
    clear: both;

    > ul {
        //float:left;
        > li {
            display: inline-block;
            width: 100%;

            h2 {
                background-color: #222;
                display:inline-block;
                padding:20px;
            }
        }
    }

    h2 {
        font-family: roboto;
        font-weight: 900;
        font-size: 84px;
        line-height: 1em;
        text-transform: uppercase;
        color: #fff;
    }
}
