﻿<div class="container">
    <div class="row">
        <div class="heading">
            <h2>Meet the<strong> Team</strong></h2>
            <h6>Features we are proud lorem ipsum meta data of our company</h6>
        </div><!--end heading-->
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="text-left animate fadeInLeft cssanim">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut exercitation ullamco labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div><!--end text-left-->
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="text-right animate fadeInRight cssanim">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud ut labore et exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div><!--end text-right-->
        </div>
    </div><!--end row-->
</div><!--end container-->