﻿<div class="container">
    <div class="row">
        <div class="heading">
            <h2>Características</h2>
            <h6>lorem ipsum metea data, what a lovely traeat to eyes</h6>
        </div><!--end heading-->
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block blockleft animate fadeInLeft cssanim">
                <img src="images/t1.jpg" alt="testimonial" />
                <h6>Adaptable a cualquier pantalla</h6>
                <span>CEO, Altavis</span>
                <p>I just love the way they helped me in customizing the website. Five stars.</p>
            </div><!--end testimonial-block-->
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block animate fadeInRight cssanim">
                <img src="images/t2.jpg" alt="testimonial" />
                <h6>Elige entre una variedad de plantillas</h6>
                <span>Founder, Circf</span>
                <p>Super cool team to work with. The whole process was a cakewalk. Highly Recommmended. Thanks Guys.</p>
            </div><!--end testimonial-block-->
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block blockleft animate fadeInLeft cssanim">
                <img src="images/t3.jpg" alt="testimonial" />
                <h6>Es robusto: funciona aún sin Internet!</h6>
                <span>Executive, Lotye</span>
                <p>I was amazed with the service they provided. Never seen such a great work.</p>
            </div><!--end testimonial-block-->
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block animate fadeInRight cssanim">
                <img src="images/t4.jpg" alt="testimonial" />
                <h6>Control total sobre el contenido</h6>
                <span>Engineer, Santal</span>
                <p>Awesome Support. Awesome Team. Highly Recommended.</p>
            </div><!--end testimonial-block-->
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block blockleft animate fadeInLeft cssanim">
                <img src="images/t5.jpg" alt="testimonial" />
                <h6>Aaria Saint</h6>
                <span>Founder, Zetmed</span>
                <p>Super amazing team as well as support. Would definitely like to work again</p>
            </div><!--end testimonial-block-->
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block animate fadeInRight cssanim">
                <img src="images/t6.jpg" alt="testimonial" />
                <h6>Alex Magr</h6>
                <span>CEO, Jiippa</span>
                <p>Clean websites, great support. Unlimited faetures. Five stars. Keep the good work guys.</p>
            </div><!--end testimonial-block-->
        </div>
    </div><!--end row-->
    @*<div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="text-left animate fadeInLeft cssanim">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut exercitation ullamco labore et dolore magna aliqua.
                    </p>
                </div><!--end text-left-->
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="text-right animate fadeInRight cssanim">
                    <p>
                        Ut enim ad minim veniam,
                        quis nostrud ut labore et exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                </div><!--end text-right-->
            </div>
        </div><!--end row-->
        <div class="row">
            <ul id="services-main">
                <li class="active">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-text">
                            <div class="service-icon">
                                <i data-icon="x" class="icon animate bounceIn cssanim"></i>
                            </div><!--end service-icon-->
                            <div class="service-name">
                                <h5>Data Collection</h5>
                            </div><!--end service-name-->
                        </div><!--end service-text-->
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-text">
                            <div class="service-icon">
                                <i data-icon="O" class="icon animate bounceIn cssanim"></i>
                            </div><!--end service-icon-->
                            <div class="service-name">
                                <h5>Marketing Analysis</h5>
                            </div><!--end service-name-->
                        </div><!--end service-text-->
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-text">
                            <div class="service-icon">
                                <i data-icon="k" class="icon animate bounceIn cssanim"></i>
                            </div><!--end service-icon-->
                            <div class="service-name">
                                <h5>Market Research</h5>
                            </div><!--end service-name-->
                        </div><!--end service-text-->
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-text">
                            <div class="service-icon">
                                <i data-icon="v" class="icon animate bounceIn cssanim"></i>
                            </div><!--end service-icon-->
                            <div class="service-name">
                                <h5>Data Analysis</h5>
                            </div><!--end service-name-->
                        </div><!--end service-text-->
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-text">
                            <div class="service-icon">
                                <i data-icon="h" class="icon animate bounceIn cssanim"></i>
                            </div><!--end service-icon-->
                            <div class="service-name">
                                <h5>Data Verification</h5>
                            </div><!--end service-name-->
                        </div><!--end service-text-->
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-text">
                            <div class="service-icon">
                                <i data-icon="B" class="icon animate bounceIn cssanim"></i>
                            </div><!--end service-icon-->
                            <div class="service-name">
                                <h5>Beta Testing</h5>
                            </div><!--end service-name-->
                        </div><!--end service-text-->
                    </div>
                </li>
            </ul>
        </div>*@
</div><!--end container-->