﻿<div class="container">
    <div class="heading">
        <h2>What <strong>Clients</strong> say</h2>
        <h6>See what some of our prestigious clients say about us</h6>
    </div><!--end heading-->
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block blockleft animate fadeInLeft cssanim">
                <img src="images/t1.jpg" alt="testimonial" />
                <h6>Josh Mclaren</h6>
                <span>CEO, Altavis</span>
                <p>I just love the way they helped me in customizing the website. Five stars.</p>
            </div><!--end testimonial-block-->
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block animate fadeInRight cssanim">
                <img src="images/t2.jpg" alt="testimonial" />
                <h6>Suzzi Marina</h6>
                <span>Founder, Circf</span>
                <p>Super cool team to work with. The whole process was a cakewalk. Highly Recommmended. Thanks Guys.</p>
            </div><!--end testimonial-block-->
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block blockleft animate fadeInLeft cssanim">
                <img src="images/t3.jpg" alt="testimonial" />
                <h6>Maria James</h6>
                <span>Executive, Lotye</span>
                <p>I was amazed with the service they provided. Never seen such a great work.</p>
            </div><!--end testimonial-block-->
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block animate fadeInRight cssanim">
                <img src="images/t4.jpg" alt="testimonial" />
                <h6>John Hilfig</h6>
                <span>Engineer, Santal</span>
                <p>Awesome Support. Awesome Team. Highly Recommended.</p>
            </div><!--end testimonial-block-->
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block blockleft animate fadeInLeft cssanim">
                <img src="images/t5.jpg" alt="testimonial" />
                <h6>Aaria Saint</h6>
                <span>Founder, Zetmed</span>
                <p>Super amazing team as well as support. Would definitely like to work again</p>
            </div><!--end testimonial-block-->
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="testimonial-block animate fadeInRight cssanim">
                <img src="images/t6.jpg" alt="testimonial" />
                <h6>Alex Magr</h6>
                <span>CEO, Jiippa</span>
                <p>Clean websites, great support. Unlimited faetures. Five stars. Keep the good work guys.</p>
            </div><!--end testimonial-block-->
        </div>
    </div><!--end row-->
</div><!--end container-->