﻿<div class="container">
    <div class="heading-layer">
        <h4>The trust, faith our <strong>partners</strong> have on us.</h4>
        <p>lorem ipsum metea data, what a lovely traeat to eyes</p>
    </div><!--end heading-layer-->
    <div class="list">
        <div class="col-md-3 col-sm-6">
            <div class="client-logo">
                <img src="images/logo1.png" alt="logo" class="animate bounceIn cssanim" />
            </div><!--end client-logo-->
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="client-logo">
                <img src="images/logo2.png" alt="logo" class="animate bounceIn cssanim" />
            </div><!--end client-logo-->
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="client-logo">
                <img src="images/logo3.png" alt="logo" class="animate bounceIn cssanim" />
            </div><!--end client-logo-->
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="client-logo">
                <img src="images/logo4.png" alt="logo" class="animate bounceIn cssanim" />
            </div><!--end client-logo-->
        </div>
    </div><!--end list-->
</div><!--end container-->