﻿<div class="container">
    <div class="row">
        <div class="heading-stripe">
            <h2><strong>Contact</strong> us Now</h2>
            <p>lorem ipsum metea data, lorem ipsum meta datatt data lorem ipsum</p>
        </div><!--end heading-stripe-->
    </div><!--end row-->
    <div class="row">
        <div class="col-md-4 col-md-offset-2 col-sm-6">
            <input class="form_field animate fadeInLeft cssanim" id="name" name="name" placeholder="Name" />
            <input class="form_field animate fadeInLeft cssanim" id="email" name="email" placeholder="Email" />
            <input class="form_field animate fadeInLeft cssanim" id="phone" name="Phone" placeholder="Phone" />
        </div>
        <div class="col-md-4  col-sm-6 animate fadeInRight cssanim">
            <textarea class="form_field" id="message" name="message" placeholder="Message"></textarea>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <a href="#" id="submit" class="button">Send Message</a>
        </div>
    </div><!--end row-->
</div><!--end container-->