﻿<div class="homeslider flexslider">
    <ul class="slides">
        <li class="homeslide1"></li>
        <li class="homeslide2"></li>
        <li class="homeslide3"></li>
    </ul><!--end slides-->
</div><!--end homeslider-->
<div id="homecontent">
    <div class="container">
        <div class="static-content">
            <!--static content on slider-->
            <h3>
                Despliega tus redes sociales en 
            </h3>
        </div><!--end static-content-->
        <div class="ticker">

            <div id="hometicker">
                <ul>
                    <li><h2>Ferias</h2></li>
                    <li><h2>Congresos</h2></li>
                    <li><h2>Televisión</h2></li>
                    <li><h2>Eventos</h2></li>
                    <li><h2>Stands</h2></li>
                    <li><h2>Recitales</h2></li>
                    <li><h2>Vía Pública</h2></li>
                </ul>
            </div><!--end hometicker-->
        </div><!--end ticker-->
        <div class="static">
            <!--static content on slider-->
            <h3>Nunca tus tuits se vieron tanto y tan bien</h3>
        </div><!--end static-->
    </div><!--end container-->
</div><!--end homecontent-->
@*@section Script {
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#hometicker').vTicker();
        });
    </script>    
}*@