﻿@model IEnumerable<Aloudi.Web.Data.Models.Section>

@foreach (var sec in Model){
	<!--START SECTION @sec.Label.ToUpper() -->
	<section id="@sec.Action.ToLower()" class="@sec.SectionClasses">
		@if(sec.CustomProcessing){
			Html.RenderAction(sec.Action, sec.Controller);
		}
		else
		{
			Html.RenderAction(MVC.Home.Section(sec.Action));
		}
	</section>
	<!--END SECTION @sec.Label.ToUpper() -->
}
