﻿<div class="container">
    <div class="row">
        <div class="heading">
            <h2>See our<strong> work</strong></h2>
        </div><!--end heading-->
    </div><!--end row-->

    <ul id="filters">
        <li><a href="javascript:void(0);" data-filter="*" class="active">All</a></li>
        <li><a href="javascript:void(0);" data-filter=".webdesign, .minimal">Web Design</a></li>
        <li><a href="javascript:void(0);" data-filter=".responsive">Responsive</a></li>
        <li><a href="javascript:void(0);" data-filter=".fresh">Fresh</a></li>
        <li><a href="javascript:void(0);" data-filter=".minimal">Minimal</a></li>
    </ul><!--end filters-->
    <ul id="filtercontainer">
        <li class="filteritem webdesign minimal col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="images/p1.jpg" class="gallery">
                <img src="images/p1.jpg" alt="portfolio1" />
                <div><span>Photography<p>Nokia, Germany</p></span></div>
            </a>
        </li>

        <li class="filteritem responsive minimal col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="http://www.youtube.com/watch?v=7moD8oGAMbw" class="popup-youtube">
                <img src="images/p2.jpg" alt="portfolio2" />
                <div><span>WebDesign<p>Diesel, Mongolia</p></span></div>
            </a>
        </li>

        <li class="filteritem fresh minimal col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="images/p3.jpg" class="gallery">
                <img src="images/p3.jpg" alt="portfolio3" />
                <div><span>Marketing<p>Dolge, USA</p></span></div>
            </a>
        </li>

        <li class="filteritem webdesign col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="images/p4.jpg" class="gallery">
                <img src="images/p4.jpg" alt="portfolio4" />
                <div><span>Analytics<p>WallE, India</p></span></div>
            </a>
        </li>

        <li class="filteritem fresh col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="images/p5.jpg" class="gallery">
                <img src="images/p5.jpg" alt="portfolio5" />
                <div><span>Modelling<p>FashionTV, Brazil</p></span></div>
            </a>
        </li>

        <li class="filteritem minimal col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="images/p6.jpg" class="gallery">
                <img src="images/p6.jpg" alt="portfolio6" />
                <div><span>Photography<p>Food Channel, NZ</p></span></div>
            </a>
        </li>

        <li class="filteritem responsive col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="images/p7.jpg" class="gallery">
                <img src="images/p7.jpg" alt="portfolio7" />
                <div><span>Website Redesing<p>Ingate, Australia</p></span></div>
            </a>
        </li>

        <li class="filteritem webdesign responsive col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="images/p8.jpg" class="gallery">
                <img src="images/p8.jpg" alt="portfolio8" />
                <div><span>Data Reporting<p>Galoop, USA</p></span></div>
            </a>
        </li>

        <li class="filteritem responsive minimal col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="images/p9.jpg" class="gallery">
                <img src="images/p9.jpg" alt="portfolio9" />
                <div><span>Beta Testing<p>Toreto, France</p></span></div>
            </a>
        </li>

        <li class="filteritem fresh resposnive col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="images/p10.jpg" class="gallery">
                <img src="images/p10.jpg" alt="portfolio10" />
                <div><span>Photography<p>Giga, Mexico</p></span></div>
            </a>
        </li>

        <li class="filteritem webdesign fresh responsive col-md-3 col-sm-6 animate fadeIn">
            <a href="images/p11.jpg" class="gallery">
                <img src="images/p11.jpg" alt="portfolio11" />
                <div><span>Analytics<p>Kiewoo, France</p></span></div>
            </a>
        </li>
        <li class="filteritem webdesign minimal responsive col-md-3 col-sm-6 animate fadeIn cssanim">
            <a href="images/p12.jpg" class="gallery">
                <img src="images/p12.jpg" alt="portfolio12" />
                <div><span>Photography<p>Nitop, London</p></span></div>
            </a>
        </li>
    </ul><!--end filtercontainer-->
</div><!--end container-->
