﻿<div class="container">
    <div class="row">
        <div class="heading-stripe">
            <h2>Check our<strong> Pricing</strong></h2>
            <p>Check our competitive prices for our products. </p>
        </div><!--end heading-stripe-->
    </div><!--end row-->
    <div class="row">
        <div id="pricing-table">
            <div class="plan plan1 col-md-3 col-sm-3 col-xs-6">
                <div class="header">Enterprise</div>
                <div class="price">$59</div>
                <div class="monthly">per month</div>
                <ul>
                    <li><b>10GB</b> Disk Space</li>
                    <li><b>100GB</b> Monthly Bandwidth</li>
                    <li><b>Unlimited</b> subdomains</li>
                </ul>
                <a class="signup" href="#">Sign up</a>
            </div><!--end plan-->
            <div class="plan plan2 popular-plan col-md-3 col-sm-3 col-xs-6 ">
                <div class="header">Professional</div>
                <div class="price">$29</div>
                <div class="monthly">per month</div>
                <ul>
                    <li><b>5GB</b> Disk Space</li>
                    <li><b>50GB</b> Monthly Bandwidth</li>
                    <li><b>Unlimited</b> subdomains</li>
                </ul>
                <a class="signup" href="#">Sign up</a>
            </div><!--end plan-->
            <div class="plan plan3 col-md-3 col-sm-3 col-xs-6">
                <div class="header">Standard</div>
                <div class="price">$19</div>
                <div class="monthly">per month</div>
                <ul>
                    <li><b>3GB</b> Disk Space</li>
                    <li><b>25GB</b> Monthly Bandwidth</li>
                    <li><b>Unlimited</b> subdomains</li>
                </ul>
                <a class="signup" href="#">Sign up</a>
            </div><!--end plan-->
            <div class="plan plan4 col-md-3 col-sm-3 col-xs-6">
                <div class="header">Basic</div>
                <div class="price">$9</div>
                <div class="monthly">per month</div>
                <ul>
                    <li><b>1GB</b> Disk Space</li>
                    <li><b>10GB</b> Monthly Bandwidth</li>
                    <li><b>Unlimited</b> subdomains</li>
                </ul>
                <a class="signup" href="#">Sign up</a>
            </div><!--end plan-->
        </div><!--end pricing-table-->
    </div><!--end row-->
</div><!--end container-->