﻿<div class="skills-div">
    <div class="container">
        <div class="heading-stripe">
            <h4>Variety of <strong>skills at PixelWay</strong>, get in touch to take a look.</h4>
            <p>lorem ipsum metea data, what a lovely traeat to eyes</p>
        </div><!--end heading-stripe-->

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="roundprogress">
                    <span class="chart animate" data-percent="86">
                        <span class="percent"></span>
                    </span>
                    <h3>% HTML5 <span>Skills</span></h3>
                </div><!--end roundprogress-->
            </div>

            <div class="col-md-3  col-sm-6">
                <div class="roundprogress">
                    <span class="chart animate" data-percent="81">
                        <span class="percent"></span>
                    </span>
                    <h3>% CSS 3 <span>Skills</span></h3>
                </div><!--end roundprogress-->
            </div>
            <div class="col-md-3  col-sm-6">
                <div class="roundprogress">
                    <span class="chart animate" data-percent="77">
                        <span class="percent"></span>
                    </span>
                    <h3>% jQuery <span>Skills</span></h3>
                </div>
            </div><!--end roundprogress-->
            <div class="col-md-3  col-sm-6">
                <div class="roundprogress">
                    <span class="chart animate" data-percent="100">
                        <span class="percent"></span>
                    </span>
                    <h3>% Client <span>Happiness</span></h3>
                </div><!--end roundprogress-->
            </div>
        </div>
    </div><!--end container-->
</div><!--end skills-div-->