﻿<section id="stats" class="stats-content">
    <div class="container">
        <div class="heading-layer">
            <h4>This is how we work <strong>at PixelWay</strong>, do you want to see.</h4>
            <p>lorem ipsum metea data, what a lovely traeat to eyes</p>
        </div><!--end heading-layer-->

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="percentage-counter animate cssanim" data-val="3" data-delay="10">
                <div class="icon animate fadeIn cssanim" data-icon="&#xe154;"></div>
                <span class="count">3</span>
                <h5>Gifts</h5>
            </div><!--end percentage-counter-->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="percentage-counter animate cssanim" data-val="40" data-delay="10">
                <div class="icon animate fadeIn cssanim" data-icon="&#xe182;"></div>
                <span class="count">40</span>
                <h5>Graphs</h5>
            </div><!--end percentage-counter-->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="percentage-counter animate cssanim" data-val="60" data-delay="10">
                <div class="icon animate fadeIn cssanim" data-icon="&#xe19b;"></div>
                <span class="count">300</span>
                <h5>Coffees</h5>
            </div><!--end percentage-counter-->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="percentage-counter animate cssanim" data-val="200" data-delay="1">
                <div class="icon animate fadeIn cssanim" data-icon="&#xe152;"></div>
                <span class="count">500</span>
                <h5>Support Queries</h5>
            </div><!--end percentage-counter-->
        </div>
    </div><!--end container-->
</section><!--end section stats-->