﻿<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="team-member animate fadeInLeftBig cssanim">
                <div class="member">
                    <img src="images/t1.jpg" alt="team" />
                    <ul class="member-social">
                        <li><div class="icon icon-twitter-alt-1"></div></li>
                        <li><div class="icon icon-facebook-1"></div></li>
                        <li><div class="icon icon-dribbble-2"></div></li>
                    </ul><!--end member-social-->
                </div><!--end member-->
                <div class="caption">
                    <h5>Joe Marian</h5>
                    <p><span>Co-Founder</span></p>
                </div><!--end caption-->
            </div><!--end team-member-->
        </div>
        <div class="col-md-3 col-sm-6 ">
            <div class="team-member animate fadeInLeft cssanim">
                <div class="member">
                    <img src="images/t2.jpg" alt="team" />
                    <ul class="member-social">
                        <li><div class="icon icon-twitter-alt-1"></div></li>
                        <li><div class="icon icon-facebook-1"></div></li>
                        <li><div class="icon icon-dribbble-2"></div></li>
                    </ul><!--end member-social-->
                </div><!--end member-->
                <div class="caption">
                    <h5>Mary Polly</h5>
                    <p><span>Co-Founder</span></p>
                </div><!--end caption-->
            </div><!--end team-member-->
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member animate fadeInRight cssanim">
                <div class="member">
                    <img src="images/t3.jpg" alt="team" />
                    <ul class="member-social">
                        <li><div class="icon icon-twitter-alt-1"></div></li>
                        <li><div class="icon icon-facebook-1"></div></li>
                        <li><div class="icon icon-dribbble-2"></div></li>
                    </ul><!--end member-social-->
                </div><!--end member-->
                <div class="caption">
                    <h5>Saina Loui</h5>
                    <p><span>Managing Director</span></p>

                </div><!--end caption-->
            </div><!--end team-member-->
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member animate fadeInRightBig cssanim">
                <div class="member">
                    <img src="images/t4.jpg" alt="team" />
                    <ul class="member-social">
                        <li><div class="icon icon-twitter-alt-1"></div></li>
                        <li><div class="icon icon-facebook-1"></div></li>
                        <li><div class="icon icon-dribbble-2"></div></li>
                    </ul><!--end member-social-->
                </div><!--end member-->
                <div class="caption">
                    <h5>James Ether</h5>
                    <p><span>Marketing Head</span></p>
                </div><!--end caption-->
            </div><!--end team-member-->
        </div>
    </div><!--end row-->
</div><!--end container-->