﻿@using Aloudi.Web.Data.Models
@model IEnumerable<Industry>
<div class="container">
    <div class="row">
        <div class="heading">
            <h2><strong>Donde</strong> se utiliza</h2>
            <h6><strong class="brand">aloudi</strong> se adapta a una variedad de usos, aplicaciones e industrias.</h6>
        </div><!--end heading-->
    </div><!--end row-->
    <div class="row">
        <div id="services-main" class="owl-carousel">
            @foreach (var ind in this.Model)
            {
                <div class="item @(ind == this.Model.First() ? "active" : string.Empty)">
                    <div class="service-text">
                        <div class="service-icon">
                            @foreach (var img in ind.Imagenes.Split(','))
                            {
                                <img src="@Url.Content(string.Format("~/Content/images/usos_{0}.jpg", img))" alt="@ind.Caption" />
                            }
                        </div><!--end service-icon-->
                        <div class="service-name">
                            <h5>@ind.Caption</h5>
                        </div><!--end service-name-->
                    </div><!--end service-text-->
                </div>
            }
        </div>
    </div>
</div><!--end container-->
<div class="serviceslider flexslider">
    <div class="container">
        <ul class="slides">
            @foreach (var ind in this.Model)
            {
                <li class="@(ind == this.Model.First() ? "active" : string.Empty)">
                    <div class="servicecaption">
                        <div class="row">
                            <div class="service1">
                                <div class="col-md-2">
                                    @*<div class="service-caption-data">
        <h4>76</h4>
        <p>Projects done</p>
    </div><!--end service-caption-data-->*@
                                </div>
                                <div class="col-md-10">
                                    <div class="service-caption-text">
                                        <h5><span>@ind.Title</span></h5>
                                        <p>
                                            @Html.Raw(ind.Text)
                                        </p>
                                    </div><!--end service-caption-text-->
                                </div>
                            </div><!--end service1-->
                        </div>
                    </div><!--end servicecaption-->
                </li>
            }
        </ul>
    </div><!--end container-->
</div><!--end services-slider-->
