﻿@model Aloudi.Web.Models.ViewModels.FooterViewModel
<footer id="footer">
    <section class="top-footer">
        <div class="container">
            <div class="col-sm-3 col-xs-12">
                <h4>¿Qué es aloudi?</h4>
                <p>@Model.Description</p>
            </div>
            <div class="col-md-3 col-xs-6">
            </div>
            <div class="col-md-3 col-xs-6">
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="widget tagcloud ">
                    <h4 class="heading">
                        Tags
                    </h4>
                    <ul class="tagcloud">
                        @foreach (var keyword in this.Model.Tags)
                        {
                            <li><a href="#">@keyword</a></li>
                        }
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <section class="btm-footer">
        <div class="container">
            <div class="col-md-8">
                @*<h2><a href="@Url.Action(MVC.Home.Index())"><img src="@Url.Content("~/Content/images/logo.png")" alt="@Aloudi.Web.Config.Title_Base" /></a></h2>*@
                @Html.Menu(this.Model.Menu).WithClass("list-inline list-unstyled btm-links")
                <div class="copyright">@this.Model.Copyright</div>
            </div>
            <div class="col-md-4" style="text-align:right;">
                <ul id="social" class="footersocial">
                    <li><a href="@this.Model.TwitterUrl" class="icon icon-twitter-alt-1" title="Twitter"></a></li>
                    <li><a href="@this.Model.FacebookUrl" class="icon icon-facebook-1" title="Facebook"></a></li>
                </ul><!--end social-->
            </div>
        </div>
    </section>
</footer><!--end footer-->

