﻿@model Aloudi.Web.Models.ViewModels.HeaderViewModel
    <header>
    <div class="container">
        <div class="col-md-4 col-sm-4">
            <div class="logo">
                <h1><a href="@Url.Action(MVC.Home.Index())" title="@this.Model.CompanyName"><img src="@Url.Content("~/Content/images/logo.png")" alt="@this.Model.CompanyName" /></a></h1>
            </div><!--end logo-->
        </div>
        <div class="col-md-8 col-sm-8">
            <div id="mainmenu">
                @Html.Menu(this.Model.Menu).WithId("menu").WithClass("menu scrollmenu")
                <ul id="actionmenu" class="menu">
                    @*<li><a class="btn btn-danger" href="@Url.Action("Register","User")">Registrarse</a></li>*@
                    <li><a class="btn btn-danger" href="@Url.Action("Login","User")">Iniciar Sesión</a></li>
                </ul>
            </div><!--end mainmenu-->
        </div>
    </div><!--end container-->
    <a id="trigger">
        <!--button for opening menu in responsive devies-->
        <span class="lines"></span>
    </a>
</header><!--end header-->