﻿<!DOCTYPE html>
<html xml:lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName"
      lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="schema.DC" href="http://purl.org/dc/terms/">
    <meta name="google-site-verification" content="XnSfLeypIu05S2DiJ7FUNBgVI4CQAVYkFlhQsv3JDl0" />
    <title>@Html.Action(MVC.Home.Title())</title>
    @Html.Action(MVC.Home.GetMetadata())
    @Styles.Render("~/bundles/css")
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,600%7COpen+Sans+Condensed:700%7CDroid+Sans:300,400,600%7COpen+Sans:400,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arapey:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-50124068-1', 'aloudi.com');
        ga('send', 'pageview');
    </script>
    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/ie")
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="global" class="global">
        <div class="pagesidebar">
            @Html.Action(MVC.Home.Sidebar())
        </div>	<!--end pagesidebar-->
        <div class="pusher">
            <div id="main">
                <!--START HEADER-->
                @Html.Action(MVC.Home.Header())
                <!--END HEADER-->
                @RenderBody()
                <!--START SECTION FOOTER-->
                @Html.Action(MVC.Home.Footer())
                <!--END SECTION FOOTER-->
            </div><!--end main-->
        </div><!--end pusher-->
    </div><!--end global-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body><!--end body-->
</html>
