﻿@model IEnumerable<Aloudi.Web.Data.Models.Section>
<div class="sidebarcontent">
    @Html.Menu(this.Model).WithClass("sidemenu scrollmenu")
</div><!--end sidebarcontent-->

<a class="sidebarclose"><span></span></a>

